/* https://codepen.io/enxaneta/full/adLPwv/ */

div.flex {
    display: flex;
    background-color: black;
    height: 680px;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

div.contenido-1 {
    background-color: beige;
    height: 350px;
    width: 200px;
    border: 5px solid blue;
}

div.contenido-2 {
    background-color: beige;
    height: 350px;
    width: 200px;
    border: 5px solid blue;
}

div.contenido-3 {
    background-color: beige;
    height: 350px;
    width: 200px;
    border: 5px solid blue;
}